
{% extends 'layout-wide.html' %}

{% block content %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 

<a href="dashboard" data-target="modal" id="declineBtn" class="nhsuk-button button--decline nhsuk-u-margin-top-3" style="display: inline-block;">Decline</a>

<div class="modal-overlay" id="modal_window" aria-hidden="true" role="dialog" aria-labelledby="modal_title">
    <div class="modal-content" id="modal_holder" role="document">
        <label class="nhsuk-label" for="sort">
            <h3 id="modal-header">Information about this declined Verification<br>Rejection reason</h3>
        </label>


        <div class="first-item">
            <form action="reject" method="POST" role="form">

                <div class="nhsuk-form-group">

                    <div id="modal-clarity" style="display:none;">

                        <div class="nhsuk-grid-row">
                            <div class="nhsuk-grid-column-two-thirds">
<!--                                <div class="idcheck-image" style="margin-top:0;">-->
<!--                                    <img src="/images/passport_redacted.jpg" class="idcheck-image-img" style="width: 100%;"-->
<!--                                         alt="Image of a passport"/>-->
<!--                                </div>-->

                                <div class="idcheck-image-container panzoom-parent">

                                    <div class="idcheck-image zoomable5">

                                        <img src="/images/media/photos/{{ data.idv[data.prototype.count].media_photoid_front}}" class="idcheck-image-img" style="width: 100%;"
                                             alt="Picture of an identity document"/>

                                    </div>

                                </div>
                            </div>

                            <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-0">

                                <div class="nhsuk-form-group">

                                    <fieldset class="nhsuk-fieldset">

                                        <div class="nhsuk-checkboxes nhsuk-checkboxes--small">

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0 ">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-1" name="example-hint" type="checkbox" value="blur">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-1">
                                                    It's too blurred
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-2" name="example-hint" type="checkbox" value="glare">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-2">
                                                    There's too much glare
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0" id="idcheck-clarity-hologram" style="display:none;">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-holo" name="example-hint" type="checkbox" value="glare">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-holo">
                                                    The hologram is hiding some information
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-3" name="example-hint" type="checkbox" value="light">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-3">
                                                    It's too light (overexposed)
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-4" name="example-hint" type="checkbox" value="dark">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-4">
                                                    It's too dark
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-5" name="example-hint" type="checkbox" value="cropped">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-5">
                                                    It's cropped (part of the document is not in the photo)
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-6" name="example-hint" type="checkbox" value="covered">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-6">
                                                    Something is covering some or all of the document
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-7" name="example-hint" type="checkbox" value="small">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-7">
                                                    It's too small
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-8" name="example-hint" type="checkbox" value="dirty">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-8">
                                                    It's too dirty
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-9" name="example-hint" type="checkbox" value="filtered">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-9">
                                                    A photo filter has been applied
                                                </label>
                                            </div>

                                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
                                                <input class="nhsuk-checkboxes__input" id="example-hint-10" name="example-hint" type="checkbox" value="other" data-question="decline-text-16">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-hint-10">
                                                    Other
                                                </label>
                                            </div>

                                        </div>
                                    </fieldset>

                                </div>

                            </div>
                        </div>
                    </div>



                    <div id="rejection-reasons">

                        <select id="decline-0" class="govuk-select decline-group" id="sort" name="sort" style="margin-top:16px;width:100%;display:none;">
                            <option value="IDC-010" data-question="">--- Please select ---</option>

                            <option value="IDC-011" data-question="decline-text-2a">No record found</option>
                            <option value="IDC-012" data-question="decline-text-2b">Duplicate live records found</option>
                            <option value="IDC-013" data-question="decline-text-2b">Confusion record</option>
                            <option value="IDC-014" data-question="decline-text-2a">PDS issue with record</option>
                            <option value="IDC-015" data-question="decline-text-2a">Date of birth does not match</option>
                            <option value="IDC-016" data-question="decline-text-2a">Postcodes do not match</option>


                        </select>


                        <select id="decline-1" class="nhsuk-select decline-group" id="sort" name="sort" style="margin-top:16px;width:100%;display:none;">
                            <option value="IDC-023" data-question="">--- Please select ---</option>
                            {# <option value="IDC-024" data-question="none">User has not sent any ID at all</option> #}
                            {# <option value="IDC-025" data-question="none">It is not a type of ID we accept</option> #}
                            <option value="IDC-026" data-question="decline-text-1">Driving licence - cannot see everything clearly</option>
                            <option value="IDC-027" data-question="decline-text-1">Passport - cannot see everything clearly</option>
                            <option value="IDC-028" data-question="decline-text-1">National identity card - cannot see everything clearly</option>
                        </select>

                        <select id="decline-2" class="nhsuk-select decline-group" id="sort" name="sort" style="margin-top:16px;width:100%;display:none;">
                            <option value="IDC-030" data-question="">--- Please select ---</option>
                            <option value="IDC-031" data-question="decline-text-4a">Driving licence - whole document is fake</option>
                            <option value="IDC-032" data-question="decline-text-4b">Driving licence - photo or information has been tampered with</option>
                            <option value="IDC-033" data-question="decline-text-4a">Passport - whole document is fake</option>
                            <option value="IDC-033" data-question="decline-text-4b">Passport - photo or information has been tampered with</option>
                            <option value="IDC-033" data-question="decline-text-4a">National identity card - whole document is fake</option>
                            <option value="IDC-033" data-question="decline-text-4b">National identity card - photo or information has been tampered with</option>
                        </select>

                        <select id="decline-3" class="nhsuk-select decline-group" id="sort" name="sort" style="margin-top:16px;width:100%;display:none;">
                            <option value="IDC-040" data-question="">--- Please select ---</option>
                            <option value="IDC-041" data-question="decline-text-6a">Driving licence - expired</option>
                            <option value="IDC-042" data-question="decline-text-6a">Passport - expired</option>
                            <option value="IDC-043" data-question="decline-text-6a">National identity card - expired</option>
                            <option value="IDC-044" data-question="decline-text-6b">Unsupported UK document</option>
                            <option value="IDC-046" data-question="decline-text-6b">Unsupported non-UK document</option>
                        </select>

                        <select id="decline-4a" class="nhsuk-select decline-group" id="sort" name="sort" style="margin-top:16px;width:100%;display:none;">
                            <option value="IDC-050" data-question="">--- Please select ---</option>
                            <option value="IDC-051" data-question="decline-text-15a">Driving licence - dates of birth do not match</option>
                            <option value="IDC-051" data-question="decline-text-15a">Passport - dates of birth do not match</option>
                            <option value="IDC-051" data-question="decline-text-15a">National identity card - dates of birth do not match</option>                            
                        </select>

                        <select id="decline-4b" class="nhsuk-select decline-group" id="sort" name="sort" style="margin-top:16px;width:100%;display:none;">
                            <option value="IDC-050" data-question="">--- Please select ---</option>
                            <option value="IDC-051" data-question="decline-text-15b">Driving licence - first names do not match</option>
                            <option value="IDC-051" data-question="decline-text-15b">Passport - first names do not match</option>
                            <option value="IDC-051" data-question="decline-text-15b">National identity card - first names do not match</option>
                        </select>

                        <select id="decline-4c" class="nhsuk-select decline-group" id="sort" name="sort" style="margin-top:16px;width:100%;display:none;">
                            <option value="IDC-050" data-question="">--- Please select ---</option>
                            <option value="IDC-051" data-question="decline-text-15c">Driving licence - last names do not match</option>
                            <option value="IDC-054" data-question="decline-text-15c">Passport - last names do not match</option>
                            <option value="IDC-057" data-question="decline-text-15c">National identity card - last names do not match</option>

                        </select>

                        <select id="decline-5" class="nhsuk-select decline-group" id="sort" name="sort" style="margin-top:16px;width:100%;display:none;">
                            <option value="IDC-080" data-question="">--- Please select ---</option>
                            <option value="IDC-081" data-question="decline-text-8a">There is a face, but it's not clear</option>
                            <option value="IDC-082" data-question="decline-text-8b">There is no face in the video</option>
                            <option value="IDC-083" data-question="decline-text-8c">Nobody is in the video</option>
                        </select>

                        <select id="decline-6" class="nhsuk-select decline-group" id="sort" name="sort" style="margin-top:16px;width:100%;display:none;">
                            <option value="IDC-090" data-question="">--- Please select ---</option>
                            <option value="IDC-091" data-question="decline-text-10">Driving licence - face in the photo ID does not match face in video</option>
                            <option value="IDC-091" data-question="decline-text-10">Passport - face in the photo ID does not match face in video</option>
                            <option value="IDC-091" data-question="decline-text-10">National identity card - face in the photo ID does not match face in video</option>

                        </select>

                        <select id="decline-7" class="nhsuk-select decline-group" id="sort" name="sort" style="margin-top:16px;width:100%;display:none;">
                            <option value="IDC-100" data-question="">--- Please select ---</option>
                            <option value="IDC-101" data-question="decline-text-11a">There is no sound at all</option>
                            <option value="IDC-102" data-question="decline-text-11">Cannot see or hear numbers clearly</option> {# this one needs updating - it doesn't mention see in live #}
                            <option value="IDC-103" data-question="decline-text-12">Missing first or last number</option>
                            <option value="IDC-104" data-question="decline-text-13">Numbers are completely wrong</option> {# this one needs updating - it doesn't say completely in live #}
                            <option value="IDC-105" data-question="decline-text-14">Says something other than numbers</option>
                            <option value="IDC-105" data-question="decline-text-14a">Someone else is saying the numbers</option>

                        </select>
                    </div>
                </div>


                <div class="nhsuk-form-group" id="rejection-text" style="display:none;">

                    <div id="decline-text-1" style="display:none;">
                        <label class="nhsuk-label" for="field3">Which part of the ID is affected, and how? (required)</label>
                            <span class="nhsuk-hint">Tell us if:<br>
                            <ul>
                            <li>anything is covered up, and how</li>
                            <li>anything is cut off</li>
                            <li>there is glare</li>
                            <li>there is blur</li>
                            <li>it's too light</li>
                            <li>it's too dark</li>
                            <li>anything else is making it difficult for you to see the information clearly</li>
                            </ul>
                            </span>
                    </div>
                    <div id="decline-text-2a" style="display:none;">
                        <label class="nhsuk-label" for="field3">Explain why you made this decision (optional)</label>
                    </div>

                    <div id="decline-text-2b" style="display:none;">
                        <label class="nhsuk-label" for="field3">Explain why you made this decision, ensuring you include the ticket number. (required)</label>
                    </div>

                    <div id="decline-text-3" style="display:none;">
                        <label class="nhsuk-label" for="field3">"Which dates do not match? (required)</label>
                            <span class="nhsuk-hint">Look at the date of birth:<br>
                                &#9679; in the submitted details<br>
                                &#9679; in PDS<br>
                                &#9679; in the photo ID<br>
                            </span>
                    </div>

                    <div id="decline-text-4a" style="display:none;">
                        <label class="nhsuk-label" for="field3">How did you identify that it's a fake? (required)</label>
                    </div>

                    <div id="decline-text-4b" style="display:none;">
                        <label class="nhsuk-label" for="field3">What has been tampered with, and how? (required)</label>
                    </div>

                    <div id="decline-text-6a" style="display:none;">
                        <label class="nhsuk-label" for="field3"></label>
                    </div>

                    <div id="decline-text-6b" style="display:none;">
                        <label class="nhsuk-label" for="field3">What kind of ID is it? (required)</label>
                    </div>

                    <div id="decline-text-7" style="display:none;">
                        <label class="nhsuk-label" for="field3">Which details do not match, and why? (required)</label>
                    </div>

                    <div id="decline-text-8" style="display:none;">
                        <label class="nhsuk-label" for="field3">Why not? (required)</label>
                        <span class="nhsuk-hint">Tell us if:<br>
                            &#9679; anything is covered up, and how<br>
                            &#9679; anything is cut off<br>
                            &#9679; there is glare<br>
                            &#9679; there is blur<br>
                            &#9679; it's too light<br>
                            &#9679; it's too dark<br>
                            &#9679; anything else is making it difficult for you to see the information clearly<br>
                        </span>
                    </div>
                    
                    <div id="decline-text-8a" style="display:none;">
                        <label class="nhsuk-label" for="field3">Why not? (required)</label>
                        <span class="nhsuk-hint">Tell us if:<br>
                            &#9679; anything is covered up, and how<br>
                            &#9679; anything is cut off<br>
                            &#9679; there is glare<br>
                            &#9679; there is blur<br>
                            &#9679; it's too light<br>
                            &#9679; it's too dark<br>
                            &#9679; anything else is making it difficult for you to see the information clearly<br>
                        </span>
                    </div>

                    <div id="decline-text-8b" style="display:none;">
                        <label class="nhsuk-label" for="field3">What can you see? (required)</label>
                    </div>

                    <div id="decline-text-8c" style="display:none;">
                        <label class="nhsuk-label" for="field3">Explain why you made this decision (required)</label>
                    </div>


                    <div id="decline-text-9" style="display:none;">
                        <label class="nhsuk-label" for="field3">Explain how the face is covered</label>
                    </div>

                    <div id="decline-text-10" style="display:none;">
                        <label class="nhsuk-label" for="field3">More information about why you think they do not match (optional)</label>
                    </div>

                    <div id="decline-text-11a" style="display:none;">
                        <label class="nhsuk-label" for="field3"></label>
                    </div>

                    <div id="decline-text-11" style="display:none;">
                        <label class="nhsuk-label" for="field3">Why can't you see or hear the numbers clearly? (required)</label> {# this one needs updating - it doesn't mention see in live #}
                    </div>

                    <div id="decline-text-12" style="display:none;">
                        <label class="nhsuk-label" for="field3">Which numbers do they miss? (required)</label>
                    </div>

                    <div id="decline-text-13" style="display:none;">
                        <label class="nhsuk-label" for="field3">More information about why they were wrong (optional)</label>
                    </div>

                    <div id="decline-text-14" style="display:none;">
                        <label class="nhsuk-label" for="field3">What do they say? (required)</label>
                    </div>

                    <div id="decline-text-14a" style="display:none;">
                        <label class="nhsuk-label" for="field3">Explain why you made this decision (optional)</label>
                    </div>

                    <div id="decline-text-15" style="display:none;">
                        <label class="nhsuk-label" for="field3" style="display:none;"></label>
                    </div>

                    <div id="decline-text-15a" style="display:none;">
                        <label class="nhsuk-label" for="field3"></label>
                    </div>

                    <div id="decline-text-15b" style="display:none;">
                        <label class="nhsuk-label" for="field3">Explain why you made this decision (optional)</label>
                    </div>

                    <div id="decline-text-15c" style="display:none;">
                        <label class="nhsuk-label" for="field3">Explain why you made this decision (optional)</label>
                    </div>

                    <div id="decline-text-16" style="display:none;">
                        <label class="nhsuk-label" for="field3" style="display:block;">What is the 'other' reason?</label>
                    </div>

                    <textarea class="nhsuk-textarea" id="field3" name="field3" type="text" rows="3"
                              style="margin-top: 16px;" onkeyup='checkText(this.value);'></textarea>
                </div>

                <div class="form-group nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
                    <button class="nhsuk-button nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-0" id="modal-link"
                       href="supervisor-dashboard" disabled="disabled">Submit</button>
                    <p class="nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-3 nhsuk-u-margin-left-3" style="display:inline-block;"><a href="#" id="modal_close">Cancel</a></p>
                </div>
            </form>
        </div>
    </div> <!-- end .modal-content -->
</div> <!-- end .modal-overlay -->

<div style="text-align: left">

<h1 class="nhsuk-heading-l">Holding list</h1>

<div id="slideout-sendback"  style="text-align: left" data-status="closed">
    <img src="/images/sendtomain1.png" alt="Feedback" height="32" width="173" id="slideout-sendback__button"/>
    <div id="slideout-sendback_inner" data-status="closed">
        <form action="holding" method="POST" role="form">
            <h3>Send to main queue</h3>
            <label class="" for="field6">Are you sure you want to move the selected records to the main queue?</label>
            <div>
            <button class="nhsuk-button nhsuk-button--reverse nhsuk-button--ers class" id="id-holding">Move</button></div>
        </form>
    </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


     <select class="nhsuk-select" id="select-1" name="select-1" style="margin-top: 0px;">
    <option value="1">Potential fraud</option>
    <option value="2">Potential safeguarding</option>
    <option value="3">No document example</option>
    <option value="4">Potential PDS duplicate</option>
    <option value="5">Potential PDS confusion</option>
    <option value="6">PDS Review - spelling mistake</option>
    <option value="7">PDS Review - shortened (name/ nickname)</option>
    <option value="8">PDS Review - names (switched)</option>
    <option value="9">PDS Review - names missing</option>
    <option value="10">System issue</option>
    <option value="11">Automation issue</option>
    <option value="12">Other</option>
  </select>
    
  </div>
</div>
</div>



<table id="employee_grid" class="table table-condensed table-hover table-striped bootgrid-table" width="60%" cellspacing="0">
   <thead>
      <tr>
         <th style="width:50px>
         <div class="checkbox table-checkbox">
            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small ">
              <input class="nhsuk-checkboxes__input selectall" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" style="font-weight: bold" for="organisation"> 
              </label>
            
            </div> 

        </th>



</div>
         <th>Verification ID</th>
         <th style="width:220px">Status</th>
          <th>Submitted</th>
          <th>Added by</th>
         <th>Reason</th>
         <th>Action</th>


      </tr>
   </thead>
   <tbody>

      <tr data-row-id="1">
         <td><div class="checkbox table-checkbox">
            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
              <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="1" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
              </label>
            </div> 
             </div></td>
         <td>9a268036	</td>
         <td><strong class="nhsuk-tag with-checker">WITH LYDIA DYER</strong></td>
         <td>6d 2h 5m</td>
           <td>Joanna Leeming</td>
         <td> Potential fraud <br> Auto uplift, doc issue</td>
        <td> <a href="url">Re-assign</a></td>
         
      </tr>


      <tr data-row-id="2">
            <td><div class="checkbox table-checkbox">
            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">

             <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="2" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
              </label>
            </div> 

             </div></td>
         <td>c8275o2	</td>
         <td><strong class="nhsuk-tag unopened">UNOPENED</strong></td>
         <td>5d 4h 0m</td>
         <td>Larry Biggs</td>
         <td> PDS review <br> Missing middle name, post codes don't match	</td>
       <td><a href="url">Open</a></td>
      </tr>


      <tr data-row-id="3">
 <td><div class="checkbox table-checkbox">
            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
              <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="3" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
              </label>
            </div> 

             </div></td>         
        <td>7o63848a	</td>
         <td><strong class="nhsuk-tag with-me">WITH ME</strong></td>
         <td>2d 0h 9m</td>
         <td>Patty Kelly</td>
        <td> Potential safeguarding <br> Missing middle name, post codes don't match	</td>
        <td><a href="url">Re-open</a> <br> <br> <a href="url">Re-assign</a></td>
      </tr>

      <tr data-row-id="4">
 <td><div class="checkbox table-checkbox">
            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">

            <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="4" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
              </label>
            </div> 

            </div></td>
          <td>7d8299a	</td>
         <td><strong class="nhsuk-tag unopened">UNOPENED</strong></td>
          <td>4d 9h 5m	</td>
          <td>Matty Jenkins</td>
         <td> Automation issue <br> Automation expiry date in 10 months</td>
         <td><a href="url">Open</a></td>
      </tr>


      <tr data-row-id="5">
 <td><div class="checkbox table-checkbox">
            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
              <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="5" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
              </label>
            </div> 

</div></td>
         <td>5760d622	</td>
         <td><strong class="nhsuk-tag with-checker">WITH JOHN GREEN</strong></td>
         <td>3d 2h 2m</td>
         <td>Anna Hobson</td>
         <td> Potential safeguarding <br> Auto uplift, doc issue</td>
         <td><a href="url">Re-assign</a></td>
      </tr>


      


   </tbody>
</table>



<script type="text/javascript">

addSlideoutListener()

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_spinner').style.display = 'none'
    }, 4000)

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_value').style.display = 'block'
    }, 4000)


    function addSlideoutListener() {
        if (document.getElementById('slideout-sendback__button')) {
            var selects = document.getElementById('slideout-sendback__button')
            selects.addEventListener('click', function (event) {
                if (document.getElementById('slideout-sendback').getAttribute('data-status') === 'closed') {
                    console.log('slideout-sendback')
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'open')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'open')
                } else {
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'closed')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'closed')
                }
            })
        }
    }

</script>


    
{% endblock %}
